huggingface_hub
python-dotenv
fastapi
uvicorn
pydantic
sqlalchemy
httpx
pandas
openpyxl
python-multipart
prometheus-fastapi-instrumentator>=7.0.0
reportlab
python-pptx
matplotlib
pymysql
psycopg2-binary
cryptography
apscheduler
google-generativeai
scikit-learn
statsmodels
